{% extends "base.html" %}

{% block content %}


<br><br>
<br><br>

Please Log In

<form class="form-signin" action="" method="post"> {% csrf_token %}
  {% if form.non_field_errors %}
      <div class="alert alert-danger" role="alert">
        {{ form.non_field_errors }}
      </div>
  {% endif %}

  <div class="fieldWrapper">
    {{ form.username.errors }}
    <label for="{{ form.username.id_for_label }}">username:</label>
    {{ form.username }}
  </div>
  <div class="fieldWrapper">
    {{ form.password.errors }}
    <label for="{{ form.password.id_for_label }}">password:</label>
    {{ form.password }}
  </div>



  <button class="btn btn-large btn-primary" type="submit">Login</button>
  <input type="hidden" name="next" value="{{next|escape}}" />
</form>
{% endblock %}

